{% load nav_tags %}


<div class="container">
    <div class="footer-right">

        <a href="http://vk.com/pynsk"><i class="fa fa-vk"></i></a>
        <a href="http://www.facebook.com/PyNskCom"><i class="fa fa-facebook"></i></a>
        <a href="http://twitter.com/py_nsk"><i class="fa fa-twitter"></i></a>

        <a href="http://github.com/PyNSK/"><i class="fa fa-github"></i></a>

    </div>

    <div class="footer-left">

        <p class="footer-links">
            <a href="#">Главная</a>
            ·
            <a href="{% url 'pages:about' %}">О нас</a>
        </p>
    </div>
</div>

