{% load static %}
{% load nav_tags %}

{% url 'admin:index' as admin_page %}
{% url 'pages:about' as tests_page %}
{% url 'pages:about' as about_page %}

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#navmenu-collapse" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>


            <a class="navbar-brand" href="/" style="font-weight: 500; font-size: 20px">
                {{ settings.SITE_TITLE }}
            </a>

        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navmenu-collapse">
            <ul class="nav navbar-nav navbar-right">
                {#                {% menu_element index_page 'Главная' %}#}
                {% menu_element about_page 'О нас' %}
                {% menu_element tests_page 'Тесты' %}

                {% if request.user.is_staff %}
                    {% menu_element admin_page 'Админка' %}
                {% endif %}

            </ul>
        </div>
        <!-- end of /.navbar-collapse -->
    </div>
    <!-- end of /.container -->
</nav>
