{% extends 'base/base.html' %}


{% block meta_title %}О нас{% endblock %}
{% block nav_block %}
{% endblock %}


{% block body %}
    <div class="panel panel-default">

        <div class="panel-body">


            <div class="text-center"><h1>PyNSK - портал о Python</h1>

                <h3>
                    Популяризируем Python в русскоязычном Интернет
                </h3>
            </div>

            <hr>

            <h4>
                <p>История начинается с проекта <a href="http://pythondigest.ru/">Python Дайджест</a>.</p>
                <blockquote>
                    Python Дайджест - проект по агрегации новостей из мира Python: статьи, интересные библиотеки и их
                    релизы, самые-самые видео.
                </blockquote>
                <p>А продолжилась созданием первого Python-сообщества в Новосибирске - <b>PyNSK</b></p>
                <blockquote>
                    PyNSK - проект нацеленный на очные встречи разработчиков и создание интересного Python-контента.
                </blockquote>



            </h4>



            <p class="text-center">...Страница в процессе написания...</p>

            <hr>

            <div class="text-center">
                <p>
                    Присоединяйтесь к нам в соц. сетях:
                </p>
                <div style="font-size:32px">

                    <a href="http://vk.com/pynsk" title="ВКонтакте"><i class="fa fa-vk"></i></a>
                    <a href="http://www.facebook.com/PyNskCom" title="Facebook"><i class="fa fa-facebook"></i></a>
                    <a href="http://twitter.com/py_nsk" title="Twitter"><i class="fa fa-twitter"></i></a>

                </div>
            </div>

        </div>


    </div>

    </div>
{% endblock body %}

