.card {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.card {
    margin-top: 10px;
    box-sizing: border-box;
    border-radius: 2px;
    background-clip: padding-box;
}

.card span.card-title {
    color: #212121;
    font-size: 18px;
    font-weight: inherit;
    text-transform: uppercase;
}

.card .card-image {
    position: relative;
    overflow: hidden;
}

.card .card-image img {
    border-radius: 2px 2px 0 0;
    background-clip: padding-box;
    position: relative;
    z-index: 0;
}

.card .card-image span.card-title {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 16px;
}

.card .card-content {
    padding: 16px;
    border-radius: 0 0 2px 2px;
    background-clip: padding-box;
    box-sizing: border-box;
    text-transform: uppercase;
    font-size: 24px;
    color: inherit;
    font-weight: inherit;
}

.nounderline {
    text-decoration: none
}

.card .card-content p {
    margin: 0;
    color: inherit;
}

.card .card-content span.card-title {
    line-height: 48px;
}

.card .card-action {
    border-top: 1px solid rgba(160, 160, 160, 0.2);
    padding: 16px;
}

.card .card-action a {
    color: #ffab40;
    margin-right: 16px;
    transition: color 0.3s ease;
    text-transform: uppercase;
}

.card .card-action a:hover {
    color: #ffd8a6;
    text-decoration: none;
}

.body-site {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.content {
    flex: 1;
    padding-top: 80px;
}

.navbar a {
    font-size: 16px;
    font-weight: inherit;

}

.footer-distributed {
    background-color: #1c415d !important;
    border-color: #214d6e !important;
    box-shadow: 0 1px 1px 0 #37474F;
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: normal 16px sans-serif;

    padding: 30px 20px;
    margin-top: 20px;

}

.footer-distributed .footer-left p {
    color: #8f9296;
    font-size: 14px;
    margin: 0;
}

/* Footer links */

.footer-distributed p.footer-links {
    font-size: 16px;
    font-weight: inherit;
    color: #ffffff;
    margin: 0 0 10px;
    padding: 0;
}

.footer-distributed p.footer-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
}

.footer-distributed .footer-right {
    float: right;
    margin-top: 6px;
    max-width: 180px;
}

.footer-distributed .footer-right a {
    display: inline-block;
    width: 35px;
    height: 35px;
    background-color: #33383b;
    border-radius: 2px;

    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;

    margin-left: 3px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 600px) {

    .footer-distributed .footer-left,
    .footer-distributed .footer-right {
        text-align: center;
    }

    .footer-distributed .footer-right {
        float: none;
        margin: 0 auto 20px;
    }

    .footer-distributed .footer-left p.footer-links {
        line-height: 1.8;
    }
}

/*a, a:hover, a:focus {*/
/*!*color: inherit;*!*/
/*color: #3f51b5;*/
/*!*font-weight: 400;*!*/
/*}*/

.tag-weight-1 {
    font-size: 70%;
}

html {
    font-size: 62.5%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}

body {
    padding-top: 0 !important;
    font-family: "Lora", Georgia, "Times New Roman", Times, serif;
    font-size: 16px;
    line-height: 1.428571429;
    color: #333;
    background-color: #f9f9f9;
}

.navbar-default {
    background-color: #285880 !important;
    border-color: #285880 !important;
    color: #e6f1ff !important;
}

.navbar-default .navbar-brand {
    color: #e6f1ff;
}

.navbar-default .navbar-nav > li > a {
    color: #e6f1ff;
}

#tipue_search_input {
    background-color: #2c6b97;
    border-color: #244064;
    color: #e6f1ff;
    font-size: 16px;
}

#sidebar .list-group, #sidebar .list-group-item {
    background-color: transparent;
}

/* for list-groups nested within a list-group-item, reset the bottom margin */
.list-group-item > .list-group {
    margin-bottom: 0px;
}

/* for list-group-items nested within a list-group-item, reset the bottom
   padding of the last item, b/c the containing item has paddimg already
 */
.list-group-item .list-group-item:last-child {
    padding-bottom: 0px;
}

.list-group-item {
    border: none;
}

.tag-0 {
    font-size: 16pt;
}

.tag-1 {
    font-size: 13pt;
}

.tag-2 {
    font-size: 10pt;
}

.tag-3 {
    font-size: 8pt;
}

.tag-4 {
    font-size: 6pt;
}

#aboutme {
    padding-top: 0px;
    padding-bottom: 5px;
    -ms-word-break: normal;
    word-break: normal;
}

#sidebar {
    padding-top: 0px;
    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}

#sidebar a {
    color: inherit;
}

.icon-label {
    margin-left: 10px;
}

/* Example for how to control spacing between icon and label in specific
   lists in the sidebar. To change, override in your CUSTOM_CSS           */
#sidebar #social i {
    margin-right: 3px;
}

a, a:hover {
    color: inherit;
}

.entry-content a {
    text-decoration: none;
    border-bottom: 1px dotted;
}

.entry-content a:hover {
    text-decoration: none;
    border-bottom: 1px solid;
}

.entry-content img {
    max-width: 100%;
    height: auto;
}

.entry-content figcaption, .caption {
    font-size: small;
    margin-bottom: 2px;
}

.summary img {
    max-width: 100%;
    height: auto;
}

.floatright, .align-right {
    float: right;
}

.floatleft, .align-left {
    float: left;
}

.floatcenter, .align-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

figure.floatright, .align-right {
    margin-left: 4px;
}

figure.floatleft, .align-left {
    margin-right: 4px;
}

figure.floatcenter, .align-center {
    margin-bottom: 11px;
}

.highlighttable pre {
    /* Removes bootstrap default margin-bottom */
    margin-bottom: 0px;
}

.highlighttable {
    /* Adds them margin-bottom to highlightable instead of <pre> */
    margin-bottom: 11px;
}

.highlighttable {
    width: 100%;
}

#categories ul, #tags ul {
    list-style: none;
    padding: 0;
    margin-left: 0;
}

.docutils.footnote td.label {
    display: table-cell;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    color: inherit;
    text-align: inherit;
    white-space: inherit;
    border-radius: inherit;
}

.categories-timestamp {
    color: #AAAAAA;
    font-size: 0.9em;
    margin-right: 10px;
}

.tagcloud li {
    padding: 0px;
}

/* Solutions for mobile and small screens  */
@media (max-width: 650px) {
    #banner h1 {
        font-size: 30px; /* !important;*/
    }

    #banner .intro {
        font-size: 16px;
    }
}
